
<%# <header class="header">
  <h2 class="logo"><a href="#">Rebel Rentals</a></h2>
    <ul class="main-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Ships</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header> %>

<div class="banner">
  <form action="/action_page.php" class="container">
    <h2>The imperial forces are coming! Find and book a ship now, and be fully operational in time for the big battle! </h2>
<%#
    <label for="email"><b>Ship type</b></label>
    <input type="text" placeholder="Star Cruiser, Transporter..." name="email" required="">

    <label for="psw"><b>Location</b></label>
    <input type="text" placeholder="Enter Location" name="psw" required=""> %>
    <%# <%= link_to "All Ships", ships_path, class: "btn btn-primary" %> %>
    <%# <button type="submit" class="btn">Find a ship! <i class="fa-solid fa-arrow-right"></i></button> %>
  </form>
</div>
<!--
<h2>Featured ships</h2>

<section class="ships">

  <div class="ship-card">
    <div class="ship-image">
      <img src="phallic.png">
    </div>
    <div class="ship-info">
      <h5>X-Wing Starfighter</h5>
      <h6>30,000 Credits</h6>
    </div>
  </div>
  <div class="ship-card">
    <div class="ship-image">
      <img src="phallic.png">
    </div>
    <div class="ship-info">
      <h5>X-Wing Starfighter</h5>
      <h6>30,000 Credits</h6>
    </div>
  </div>
  <div class="ship-card">
    <div class="ship-image">
      <img src="phallic.png">
    </div>
    <div class="ship-info">
      <h5>X-Wing Starfighter</h5>
      <h6>30,000 Credits</h6>
    </div>
  </div>
  <div class="ship-card">
    <div class="ship-image">
      <img src="phallic.png">
    </div>
    <div class="ship-info">
      <h5>X-Wing Starfighter</h5>
      <h6>30,000 Credits</h6>
    </div>
  </div>

</section>

<h1>Pages#home</h1>
<h2>Logged in user: <%= current_user.email || "None" %></h2>
<p>Find me in app/views/pages/home.html.erb</p>
_
-->

<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a class="link-1" href="#">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p>RebelRentals © 2022</p>
  </div>

</footer>
</body>
