<h1>Ships page</h1>

  <% @ships.each do |ship| %>
  <li class="card"><%= link_to ship.name, ship_path(ship) %></li>
  <% end %>


<% if current_user  %>
  <%= link_to "Create Ship", new_ship_path %>
<% end %>
