.show-page {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: white;
}

.top-left {
  justify-content: space-between;
}

.middle-left-image {
  width: 100%;
}

.details h5 {
  padding-top: 16px;
  margin-top: 16px;
}
